.provide {
    background-color: #fff;
    padding-bottom: 0;

    .container {
        padding-bottom: 60px;
        border-bottom: 2px solid rgb(236, 236, 236);
    }

.provide-wrap {
    display: flex;
    justify-content: space-between;

    @media (max-width: 960px) {
        display: block;
        max-width: 600px;
        margin: 0 auto;
    }
}

.provide__slogan {
    margin-right: 50px;

    @media (max-width: 1200px) {
        margin-right: 20px;
    }
    @media (max-width: 960px) {
        margin: 0 auto;
    }
}

.provide__slogan-title {
    font-size: 42px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.31;
    @media (max-width: 960px) {
        margin: 0 auto;
        text-align: center;
    }
}

.provide__slogan-subtitle{
    @media (max-width: 960px) {
        margin: 0 auto;
        text-align: center;
    }
}

.link-btn{
    @media (max-width: 960px) {
        margin: 30px auto 40px;
    }
}

.provide__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-item {
    padding: 0 15px;
    width: 40%;

    @media (max-width: 1200px) {
        width: 250px;
    }

    // @media (max-width: 960px) {
    //     width: 250px;
    // }
}

.card-item:not(:last-child) {
    @media (max-width: 960px) {
        margin-bottom: 20px;
    }
}

.card-item:first-child {
    margin-bottom: 30px;
}

.card-title {
    margin-bottom: 15px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.702);
    line-height: 1.2;
    text-align: left;
    @media (max-width: 960px) {
        text-align: center;
        font-size: 18px;
     }
    
}

.card-title-icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 25px 0;
    @media (max-width: 960px) {
        margin: 0 auto 25px auto;
    }
}

.card-item:nth-child(4) .card-title-icon {
    width: 44px;
    height: 32px;
}

.card-description {
    color: rgba(0, 0, 0, 0.702);
    max-width: 290px;
    @media (max-width: 960px) {
       text-align: center;
    }
}
}